@import '/src/assets/styles/variables.scss';

.sidemenu {
  &_container {
    display: flex;
    flex-direction: column;
    min-width: 28rem;
    background-color: $blue;
    color: $white;
    padding: 8rem 6rem;
    gap: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    .menu {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 1.2rem;
      &_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        svg {
          width: 32px;
          height: 32px;
          margin-right: 1.2rem;
          path {
            fill: $white;
          }
        }
        &:last-child {
          font-weight: 700;
          margin: 4rem auto 0;
        }
      }
    }
  }
}