// colors
$background-light: #ECF1FF;
$white: #FFFFFF;
$dark: #444752;
$strong-dark: #363B49;
$blue: #365ABB;
$orange: #FBB547;

// shadows
$card-shadow: 0px 22px 34px rgba(105, 119, 157, 0.351817);

// font-sizes
$fs-default: 16px;
$fs-middle: 24px;
$fs-big: 36px;

// font-weight
$medium: 500;
$bold: 700;